.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
  background-color: #ffffff16;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.navList,
.list {
  list-style: none;
}

.navList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}

.link {
  width: 160px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 8px 16px;
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  color: var(--color);
  transition: border 250ms ease-in-out, box-shadow 250ms ease-in-out,
    color 250ms ease-in-out;
}

.link:hover,
.link.active {
  box-shadow: var(--hover-box-shadow);
  border: var(--hover-border);
  color: var(--hover-color);
}

.wrapperText {
  background-color: #ffffff16;
  padding: 16px;
  border-radius: 8px;
}

.text {
  font-size: 18px;
  font-weight: 500;
  padding: 0px;
}

.wrapperImg {
  max-width: 450px;
}

.noImg {
  font-size: 20px;
  height: 420px;
  background-color: #308bc788;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 280px;
}
.title {
  padding: 20px;
  text-align: center;
}
