.container {
  padding-top: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}

.text,
.textMessage {
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0px;
}

.textMessage {
  text-align: center;
}

.rewiew {
  border-radius: 8px;
  background-color: #ffffff1c;
  padding: 20px;
  box-shadow: var(--box-shadow);
}
.title {
  text-align: center;
  padding: 20px;
}
