.movieList {
  padding: 20px 40px;
}

.link {
  color: currentColor;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.link:hover {
  background-color: #ffffff16;
}

.link:visited {
  color: #e8e825;
}
