:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffffde;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  padding: 20px 0px;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

h2 {
  padding: 30px 10px;
  text-align: center;
  background-color: #ffffff16;
  color: #ca0000;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input {
  color: currentColor;
  outline: none;
  background-color: transparent;
  border: 1px solid currentColor;
}

input::placeholder {
  color: #e8e82538;
}

button {
  cursor: pointer;
  color: #e8e825;
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 8px;
  font-weight: 500;
  font-family: inherit;
  line-height: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  color: #ca0000;
}
