@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('./fonts/InterVariable.woff2') format('woff2');
}

:root {
  --color: #51a7e0;
  --hover-color: #ffffffc4;
  --border: 1px solid #308bc7;
  --box-shadow: 0 0 10px #232425, inset 0 0 20px #308bc7d1;
  --hover-box-shadow: 0 0 10px #232425, inset 0 0 25px #ffffffa3;
  --hover-card-box-shadow: 0 0 20px #232425, inset 0 0 40px #ffffffee;
  --hover-border: 1px solid #ffffff;
  --hover-border-decor: 1px solid #eb8108;
  --color-decor: #eb8108;
}

body {
  font-family: InterVariable, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
  background-color: #242424;
  background-image: linear-gradient(to bottom, #1e1f2b, #1c163d);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 768px) {
  body {
    background-image: linear-gradient(to bottom, #1e1f2bd5, #2e2f42e3),
      url('./images/background-desktop.webp');
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h3 {
  margin: 0px;
}

h1 {
  padding: 20px 0px;
  font-size: 34px;
  font-weight: 800;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  margin-top: 0px;
  font-size: 32px;
  font-weight: 800;
  border-radius: 8px;
  background-image: linear-gradient(to bottom, #308bc7a8, #2e2f428a);
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input {
  color: currentColor;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--color-decor);
}

input::placeholder {
  color: var(--color-decor);
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  border-radius: 8px;
  font-weight: 500;
  font-family: inherit;
  line-height: inherit;
}
